<!DOCTYPE html>
<html lang="ko" xmlns:th="www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Title</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
          crossorigin="anonymous"></script>

  <script>
    $(document).ready(function () {
      // 목록 버튼
      $("#btn-list").on("click", function () {
        location.href = "/board3/board";
      });

      // 스프링 프레임워트 사용 시 form 태그 안의 input 태그 중 name 속성이 '_method'인 태그가 있을 경우 해당 태그의 value값에 따라 데이터 전송 방식을 변경할 수 있음
    //   HTML 태그 중 form 태그의 method를 통한 전송 방식은 GET, POST만 사용 됨
    //   REST 방식 사용 시 PUT, DELETE 를 사용해야 하기 때문에 input 태그 중 name 속성값이 '_method'인 태그를 사용하여 통신 방식을 변경하도록 하고 있음

    //   삭제 버튼
      $("#btn-delete").on("click", function () {
        // html 태그 중 id 속성값이 'method'인 태그를 선택하여 value 속성값을 DELETE 로 변경
        $("#method").val("DELETE");
        const frm = $("#frm")[0];
        frm.action = "/board3/board/" + $("#board-idx").val();
        frm.submit();
      });

    //   수정 버튼
      $("#btn-update").on("click", function () {
        // html 태그 중 id 속성값이 'method'인 태그를 선택하여 value 속성값을 PUT 으로 변경
        $("#method").val("PUT");
        const frm = $("#frm")[0];
        frm.action = "/board3/board/" + $("#board-idx").val();
        frm.submit();
      });
    });
  </script>
</head>
<body>

<div th:replace="~{/layout/header :: header-basic}"></div>

<main class="border-top mt-5">
  <section class="container">
    <form id="frm" method="post">
      <div class="row mt-3">
        <div class="col-sm">
          <div class="input-group">
            <span class="input-group-text">글번호</span>
            <input type="text" class="form-control" id="board-idx" name="boardIdx" readonly th:value="${board.boardIdx}">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group">
            <span class="input-group-text">글제목</span>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요" th:value="${board.title}">
          </div>
        </div>
        <div class="col-sm">
          <div class="input-group">
            <span class="input-group-text">조회수</span>
            <input type="text" class="form-control" id="hit-cnt" name="hitCnt" readonly th:value="${board.hitCnt}">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <div class="input-group">
            <span class="input-group-text">작성자</span>
            <input type="text" class="form-control" readonly th:value="${board.createId}">
          </div>
        </div>
        <div class="col-sm">
          <div class="input-group">
            <span class="input-group-text">등록날짜</span>
            <input type="text" class="form-control" readonly th:value="${board.createDate}">
          </div>
        </div>
        <div class="col-sm">
          <div class="input-group">
            <span class="input-group-text">수정자</span>
            <input type="text" class="form-control" id="update-id" name="updateId" th:value="${board.updateId}">
          </div>
        </div>
        <div class="col-sm">
          <div class="input-group">
            <span class="input-group-text">수정시간</span>
            <input type="text" class="form-control" id="update-date" name="updateDate" readonly th:value="${board.updateDate}">
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <div class="input-group">
            <span class="input-group-text">내용</span>
            <textarea class="form-control" id="contents" name="contents" rows="5" th:text="${board.contents}"></textarea>
          </div>
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-sm">
          <button type="button" class="btn btn-secondary" id="btn-list">목록</button>
        </div>
        <div class="col-sm d-flex justify-content-end">
          <button type="button" class="btn btn-danger me-2" id="btn-delete">삭제</button>
          <button type="button" class="btn btn-warning" id="btn-update">수정</button>
        </div>
      </div>
      <input type="hidden" id="method" name="_method">
    </form>
  </section>
</main>

<div th:replace="~{/layout/footer :: footer}"></div>

</body>
</html>













