<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Spring MVC 게시판 - 글쓰기 페이지</title>

  <link rel="stylesheet" href="/css/bootstrap.css">
  <script src="/js/jquery-3.7.1.js"></script>
  <script src="/js/bootstrap.bundle.js"></script>

  <script>
    $(document).ready(function () {
      $("#btn-cancel").on("click", function () {
        history.back();
      });
    });
  </script>
</head>
<body>

<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a href="#" class="navbar-brand">Logo</a>
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 1</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 2</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link">메뉴 3</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main class="container">
  <section style="margin-top: 75px">
    <div class="p-4 text-center border rounded-4 bg-secondary bg-opacity-10">
      <h1 class="display-4">게시판 글쓰기 페이지</h1>
      <h2 class="mt-3"><small>Spring MVC로 만든 게시판</small></h2>
    </div>
  </section>

  <section>
    <div class="row">
      <div class="col-sm-4 mx-auto">
<!--        파일 정보와 form 정보를 동시에 전달하기 위해서 enctype을 변경 -->
        <form action="/board/insertBoard.do" method="post" enctype="multipart/form-data">
          <div class="mt-3">
            <label for="title" class="form-label">제목 : </label>
            <input type="text" class="form-control" id="title" name="title" placeholder="제목을 입력하세요">
          </div>
          <div class="mt-3">
            <label for="user-id" class="form-label">글쓴이 : </label>
<!--            input 태그의 name 속성명을 Dto 클래스의 필드명과 동일하게 사용 -->
            <input type="text" class="form-control" id="user-id" name="createId" placeholder="사용자 ID를 입력하세요">
          </div>
          <div class="mt-3">
            <label for="contents" class="form-label">내용 : </label>
            <textarea class="form-control" id="contents" name="contents" rows="5" placeholder="내용을 입력하세요"></textarea>
          </div>
          <div class="mt-3">
            <label for="file" class="form-label">첨부파일 : </label>
<!--            첨부 파일을 포함하기 위한 input 태그 추가 -->
            <input type="file" class="form-control" id="file" name="file" multiple>
          </div>
          <div class="mt-4 row">
            <div class="col-sm d-grid">
              <button type="submit" class="btn btn-primary">등록</button>
            </div>
            <div class="col-sm d-grid">
              <button type="reset" class="btn btn-secondary" id="btn-cancel">취소</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </section>
</main>

<footer class="border-top mt-5 p-sm-5">
  <div class="text-center">
    <p class="lead text-muted">made by fullstack501</p>
  </div>
</footer>
</body>
</html>













